nav {
	background-color: #333333;
	max-width: 1000px;
	margin: 0 auto;
}

nav ul {
	display: none;
}

#hamburger {
	float: right;
}

img {
	max-width: 100%;
}

#featured img {
	margin: 0 auto;
	display: block;
}


main {
	max-width: 1000px;
	margin: 0 auto;
}

.latest img {
	margin: 0 auto;
	display: block;
}









/* min with 480px - for nav*/

@media all and (min-width: 480px) {

	nav ul {
		display: block;
		text-align:  right;
	}

	#hamburger {
		display: none;
	}

	nav img:not(#hamburger) {
		float: left;
	}

	nav li {
		display: inline-block;
		line-height: 50px;
		margin: 0 10px;

	}

	nav li a {
		color: #fff;
		text-decoration: none;
	}

}

/* Min width 550px for latest*/

@media all and (min-width: 550px) {

	.latest img {
		float: left;
		margin-right: 10px;
	}


	.latest {
		margin-bottom: 40px;
	}
	.latest:after {
		content: '';
		display: block;
		clear: both;
	}
}


/* Min width 700px */

@media all and (min-width: 700px) {

	#featured img {
		float: left;
		width: 60%;
		margin-right: 10px;
	}

	#featured div {
		width: 38%;
		float: right;
	}

	#featured:after {
		content: "";
		display: block;
		clear: both;
	}
}


@media all and (min-width: 960px) {

	.latest img {
		float: none;
		margin: 0;
	}

	.latest {
		/*background-color: yellow;*/
		width: 33%;
		float: left;
		padding: 15px;
		box-sizing: border-box; 
	}

}






















